@import '@fontsource/fira-mono';

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	/* custom color */
	/* color theme from d&d beyond */
	--paper-color: #E8DCB8;
	--ddb-red: #c73032;
	--barbarian: #e7623e;
	--bad-rogue: #ab6dac;
	--cleric-silver: #91a1b2;
	--druid-moss: #7a853b;
	--fighter-rust: #7f513e;
	--monk-sky: #51a5c5;
	--paladin-gold: #b59e54;
	--ranger-em: #507f62;
	--rogue-ash: #555752;
	--sorcerer-blood: #992e2e;
	--warlock-iris: #7b469b;
	--wizard-cobalt: #2a50a1;


	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	margin-bottom: 0 0 1em 0;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.main {
	margin: 0 auto;
	width: 1024px;
}

.w-100 {
	width: 100%
}

.f-20 {
	font-size: 20px;
}

.text-center {
	text-align: center;
}
.wrapper {
	display: flex;
}
.container {
	border: 1px solid #000;
	border-radius: 35px;
	padding: 10px 15px 20px;
	margin-bottom: 10px;
	box-shadow: 0 0 2px 1px #000;
	background-color: var(--paper-color);
}
.en-translation {
	flex: 50%;
}

.de-translation {
	flex: 50%;
}

.description {
	overflow: auto;
}

.de-div {
	flex: 0 260px;
}

.de-word {
	display: flex;
	justify-content: space-between;
}
@media (min-width: 1024px) {
	.flex {
		display: flex;
		width: 100%;
		gap: 10px;
	}
}
.space-around {
	justify-content: space-around;
}

/* scrollbar styling */
/* width */
::-webkit-scrollbar {
	width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--cleric-silver); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--rogue-ash); 
}

/* btn styling */
.btn {
	border-radius: 5px;
	border-color: transparent;
	background-color: var(--monk-sky);
	color: rgba(255, 255, 255, 0.829);
	cursor: pointer;
	font-weight: bold;
}
.btn:hover {
	background-color: var(--wizard-cobalt);
}

.btn--spacing {
	padding: 10px 20px;
}

.btn--color-switch {
	background-color: var(--barbarian);
}

.btn--color-switch:hover {
	background-color: var(--sorcerer-blood);
}

.btn--color-cancel {
	background-color: var(--ddb-red);
}

.btn--color-cancel:hover {
	background-color: var(--accent-color);
}

.btn--login {
	padding: 5px;
}

.btn--nav {
	border-radius: 0;
}

.nav--btn-wp {
	display: flex;
	margin-left: 2px
}

input:disabled {
	background-color: transparent;
	border-color: transparent;
}

input {
	background-color: var(--pure-white);
	border-color: #000;
	border-radius: 5px;
}

textarea:disabled {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(--heading-color);
	background: transparent;
	border-color: transparent;
	font-size: 16px;
}

textarea {
	background-color: var(--pure-white);
	border-color: #000;
	border-radius: 5px;
	font-size: 15px;
	width: 100%;
}

/* dialog */
.overlay {
	position: fixed;
	z-index: 2;
    top: 0;
	right: 0;
	bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ccc9;
}

.dialog-wp	{
	width: 350px;
	margin: 0 auto;
	transform: translate(0, 250px);
    border: 1px solid;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
	text-align: center;
}

.dialog-btn-wp {
	display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.user-menü-login {
	width: 130px;
	height: 50px;
    display: flex;
}

.user-menü-logout {
	width: 64px;
	height: 50px;
}

.user-image {
	border-radius: 50%;
}